.YourProjects {
  background-color: white;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: 0.4s ease-in-out;
}

.YourProjects:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@media screen and (min-width: 320px) and (max-width: 1080px) {
  * {
    height: max-content;
    width: 75%;
    margin-top: 1rem;
  }
}

.Project {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.Avatar > img {
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
}

.Detail {
  margin-left: 1rem;
}

.Title {
  font-weight: 900;
}
@media screen and (min-width: 320px) and (max-width: 1080px) {
  * {
    font-size: 1rem;
  }
}

.SubTitle {
  font-weight: 500;
}

.SubTitleBold {
  font-weight: 600;
}

.AllProjects {
  text-align: end;
  color: #6100d4;
  cursor: pointer;
  margin: 1rem;
}
