.sidebar {
  background-image: radial-gradient(
    circle 580.6px at 10% 40%,
    rgb(26, 0, 61) 30%,
    rgb(0, 0, 0) 100%
  );
}

.brand {
  background-color: transparent;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 900;
  letter-spacing: 0.3vw;
  color: #fff;
}
span {
  color: #ffaf00;
  font-weight: 900;
  margin-left: 8px;
}
.sidebarLinks {
  list-style-type: none;
  margin: 0 2rem;
  width: 90%;
  margin-top: 2rem;
}

.sideLinkTags {
  color: white;
  /* text-transform: uppercase; */
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: 0.1s ease-in-out;
}
.sideLinkTags:hover {
  color: #ffaf00;
  font-weight: bold;
}
