@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.submissionWrapper {
  margin-bottom: 1rem;
  width: auto;
  height: auto;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
  border-radius: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.submissionContainer {
  position: relative;
  width: 350px;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  background: #ecf0f3;
}

.brand-titleText {
  margin-top: 1rem;
  font-weight: 900;
  font-size: 1.8rem;
  color: #111;
  letter-spacing: 1px;
}

.submissionInputContainer {
  text-align: left;
  margin-top: 1rem;
}

.submissionInput,
.submissionBtn {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.submissionInput {
  margin-top: 12px;
}

.submissionInput.description {
  height: 8rem;
  resize: none;
  border-radius: 1rem !important;
}

.submissionInput::placeholder {
  color: gray;
}

.submissionInput {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

.dropDownOptions.optionsCollapsed {
  position: absolute;
  top: 20%;
  width: 320px;
  border-radius: 1rem;
  background: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  cursor: pointer;
  visibility: hidden;
}

.dropDownOptions.optionsExpanded {
  position: absolute;
  top: 20%;
  width: 320px;
  border-radius: 1rem;
  background: #ecf0f3;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  cursor: pointer;
  visibility: visible;
}

.dropDownChoice {
  position: relative;
  padding: 0.5rem;
  margin: 0.7rem;
  border-radius: 1rem;
  list-style-type: none;
  text-align: left;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
}

.dropDownChoice:hover {
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.submissionInput:focus {
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.dropDownContainer {
  display: flex;
  align-items: center;
}

.dropDownIcon,
.dropDownExpanded {
  margin-left: -3rem;
  margin-top: 0.85rem;
  color: gray;
  transform: rotate(0);
  transition: transform 1s cubic-bezier(0.69, 0.29, 0.58, 1);
}

.dropDownCollapsed {
  margin-left: -3rem;
  margin-top: 0.85rem;
  color: gray;
  transform: rotate(90deg);
  transition: transform 1s cubic-bezier(0.83, 0.23, 0.15, 0.83);
}

.submissionBtn {
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.submissionBtn:hover {
  box-shadow: none;
}
